<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<define name="SERVER_PATH" class="com.example.courseapi.config.ServerPathPropertyDefiner" />

	<springProperty scope="context" name="CONSOLE_LEVEL" source="logging.level.console" defaultValue="DEBUG"/>
	<springProperty scope="context" name="FILE_LEVEL" source="logging.level.file" defaultValue="INFO"/>
	<property name="CONSOLE_LOG_PATTERN"
			  value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}"/>
	<property name="FILE_LOG_PATTERN"
			  value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - \n
                %msg%n"/>

	<conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
	<conversionRule conversionWord="wEx"
					converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
	<appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${FILE_LEVEL}</level>
        </filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${SERVER_PATH}/logs/courseapi/courseapi.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
		</rollingPolicy>

		<encoder>
			<pattern> %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} -
                %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLIN_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>10000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="ROLLIN"/>
	</appender>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${CONSOLE_LEVEL}</level>
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="CONSOLE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>10000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="CONSOLE"/>
	</appender>

	<root>
		<appender-ref ref="CONSOLE_ASYNC"/>
		<appender-ref ref="ROLLIN_ASYNC"/>
	</root>

	<logger name="ROOT" level="INFO"/>
	<logger name="com.example.courseapi" level="DEBUG"/>
</configuration>
